.currency-dropdown-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  .currency-label {
    margin: 0 4px 0 8px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #333e5c;
  }
}